/*Шапка*/

header{
    position: sticky;
    top: 0;
    padding: 3px;
    z-index: 1000;
    background: white;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
}

.header__img{
    height: 64px;
    width: 64px;
}

/* Стили для активной вкладки */
.nav-link {
    color: blue;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: rgba(0, 0, 255, 0.1);
}

.nav-link.active {
    background-color: blue;
    color: white;
    font-weight: bold;
}


/*Футер*/


.footer_tg{
    height: 30px;
    width: 30px;
}

.footer_tg_sacha{
    height: 30px;
    width: 30px;
}

.footer-icon-label {
  display: block;
  text-align: center;
  font-size: 0.8em;
}

.footer-icon{
    display: block;
  text-align: center;
  font-size: 0.8em;
}

.footer-link {
    display: inline-block;
    transform: translateX(-15px);
    text-decoration: none;
}

.footer-icon-label, .footer-icon {
  display: block;
  text-align: center;
}

body{
    margin: 0;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}

container, footer{
    padding: 20px;
}

/*Дерево*/

.derevo{
    height: 500px;
    width: 1000px;
}


/*Регистрация*/


.registration-container {
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.registration-form .mb-3 {
    margin-bottom: 20px;
}

.registration-form .form-label {
    font-weight: bold;
    color: #333;
}

.registration-form .form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
}

.registration-form .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.registration-form .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.registration-form .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Выделенный текст */
.highlight-text {
    font-family: 'Georgia', serif;
    font-weight: bold;
    color: #007bff;
}