{% extends 'base.html' %}

{% block title %}
Донат
{% endblock %}

{% block body %}
<div class="donate-container">
    <div class="donate-header">
        <h1 class="text-center fade-in">Спасибо!</h1>
        <p class="text-center slide-up">
            Спасибо, что доверились и выбрали нас. Мы стараемся помогать каждому, но для развития сервиса нам нужна ваша поддержка.
        </p>
    </div>

    <div class="donate-card scale-in">
        <h2 class="text-center">Помощь проекту</h2>
        <ul class="donate-list">
            <li class="fade-in">Вы тоже можете внести вклад</li>
            <li class="fade-in">Помочь другим</li>
            <li class="fade-in">Помочь всем</li>
        </ul>
        <button type="button" class="btn btn-primary w-100 bounce">Поддержать</button>
    </div>
</div>
{% endblock %}