{% extends 'base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block body %}
<form method="post" class="form-control">
    <div class="mb-3">
        <label for="name" class="form-label">Имя</label>
        <input type="text" name="name" placeholder="Введите имя" class="form-control" id="name">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" name="password" placeholder="Введите пароль" class="form-control" id="password" aria-describedby="passwordHelpInline">
        <div id="passwordRules" class="alert alert-info mt-1" style="display: none; font-size: 0.85rem; padding: 0.5rem 0.75rem; background-color: white; border: 1px solid #ccc;">
            <strong>Правила:</strong>
            <ul>
                <li>Минимум 8 символов</li>
                <li>Максимум 40 символов</li>
                <li>Хотя бы 1 заглавная буква</li>
                <li>Хотя бы 1 прописная буква</li>
                <li>Хотя бы 1 цифра</li>
            </ul>
        </div>
    </div>
    <div class="mb-3">
        <label for="two_password" class="form-label">Повторите пароль</label>
        <input type="password" name="two_password" placeholder="Повторите пароль" class="form-control" id="two_password">
    </div>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <button class="btn btn-success" type="submit">Добавить</button>
</form>

<script>
    const passwordInput = document.getElementById('password');
    const passwordRules = document.getElementById('passwordRules');
    const twoPasswordInput = document.getElementById('two_password');


    passwordInput.addEventListener('focus', function() {
        passwordRules.style.display = 'block';
    });


    passwordInput.addEventListener('blur', function() {
        passwordRules.style.display = 'none';
    });


    twoPasswordInput.addEventListener('focus', function() {
        passwordRules.style.display = 'none';
    });
</script>
{% endblock %}